.call-to-action {
  background-color: $gray-800;
  background: url('../img/md-bg.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include background-cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
